<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <title>Креирај Портфолио</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Почетна</a>
            <a href="{{ url_for('portfolio_new') }}">Креирај Портфолио</a>
            <a href="{{ url_for('portfolio_list') }}">Листа на портфолија</a>
        </nav>
    </header>
    <div class="image" style="background-image: url('{{ url_for('static', filename='image.jpg') }}');">
        <form action="{{ url_for('portfolio_edit', portfolio_id=portfolio.id) }}" method="POST">
            <div>
                <label>Кратко био</label><br>
                <input type="text" name="kratko_bio">
                <form action="{{ url_for('ai_rewrite', portfolio_id=portfolio.id) }}" method="POST" class="ai-control-panel">
                    <label for="tone-select">Избери AI стил:</label>
                    <select name="tone" id="tone-select" class="ai-select">
                        <option value="student">Студентски </option>
                        <option value="professional">Професионално </option>
                        <option value="short">Кратко </option>
                    </select>
                    <button type="submit" class="ai-button">Генерирај</button>
                </form>
            </div>
            <br>
            <div>
                    <label>Проекти и искуства</label><br>
                    <input type="text" name="proekti_iskustva">
            </div>
            <br>
            <button type="submit">Зачувај</button>
        </form>
    </div>
</body>
</html>
