<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <title>Листа на Портфолија</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Почетна</a>
            <a href="{{ url_for('portfolio_new') }}">Креирај Портфолио</a>
            <a href="{{ url_for('portfolio_list') }}">Листа на портфолија</a>
        </nav>
    </header>

    <main>
        <div class="image" style="background-image: url('{{ url_for('static', filename='image.jpg') }}');">
            <div class="white-box">
                <h2>Сите Студентски Портфолија</h2>
                <p>Кликнете на името за да го погледнете деталното портфолио:</p>

                <ul>
                    {% for p in portfolio %}
                        <li class="portfolio-item">
                            <a class="portfolio-link" href="/portfolio/view/{{ p.id }}">{{ p.ime }} {{ p.prezime }} – {{ p.nasoka }}</a>

                            <form method="post" action="{{ url_for('delete_portfolio', portfolio_id=p.id) }}" onsubmit="return confirm('Дали си сигурен дека сакаш трајно да го избришеш портфолиото?');">
                                <button class="delete-btn" type="submit">Избриши</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
</body>
</html>

